# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-dashview-app/node_modules
/.pnp
.pnp.js

# IDE settings
.vscode/

# testing
/coverage

# production
build/

#log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# db
databases/

# misc
.DS_Store
__pycache__
.env
venv/
LICENSE

# deployment
docker-compose.yml
Dockerfile.api
Dockerfile.client
Dockerfile.combo

